/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);

  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --text-color: #f1b2ce;
  --transparent-text-color: rgba(255, 0, 112, 0.4);
  --title-text-color: #000028;
  --bg-color: #000028;
  --decorated-text: var(--accent-color);
}
