/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --heading-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --text-color: #353430;
  --transparent-text-color: rgba(50, 49, 45, 0.4);
  --title-text-color: #353430;
  --bg-color: #fff1f7;
  --decorated-text: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --heading-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --text-color: #353430;
    --transparent-text-color: rgba(50, 49, 45, 0.4);
    --title-text-color: #353430;
    --bg-color: #fff1f7;
    --decorated-text: transparent;
  }
}
