/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: var(--padding-small);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-text-color);
  border-right: 1px solid var(--accent-text-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.header__theme-menu-button {
  color: var(--accent-text-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
  line-height: 1em;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--transparent-text-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-text-color);
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button_active {
  outline: 1px solid var(--accent-text-color);
  pointer-events: none;
}

.header__decorated-text {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;
  line-height: 1.4em;
  text-transform: uppercase;
  color: var(--decorated-text);
}

.header__decorated-text::after {
  position: absolute;
  content: "";
  inset-inline-end: -20px;
  inset-block-start: 7px;
  background-color: var(--decorated-text);
  block-size: 11px;
  inline-size: 11px;
  border-radius: 50%;
}

.heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  color: var(--heading-color);
}

.header__heading {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title-decor {
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-weight: var(--font-weight-bold);
}

.title-decor_light {
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: var(--padding-small);
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.section__title {
  color: var(--accent-text-color);
}

.card {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration-line: none;
  cursor: pointer;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  gap: var(--gap-small);
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--gap-small);
}

.gallery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  padding: var(--padding-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__heading {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding: var(--padding-medium);
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__heading {
    margin-inline-start: -20px;
  }

  .header__title-decor {
    inline-size: calc((100vw - 2 * var(--padding-medium)) / 2);
    justify-self: end;
  }

  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::before {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__decorated-text {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  .content {
    gap: 80px;
    padding-inline: var(--padding-medium);
  }

  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .reasons .section__title {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .reasons .card {
    grid-column: 2;
  }

  .impact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .impact .section__title {
    grid-column: 1;
    grid-row: 1;
  }

  .impact .card {
    grid-column: 1 / span 3;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .advices .section__title {
    grid-column: 1;
    grid-row: 1 / 7;
  }

  .advices .title-decor {
    grid-column: 2;
  }

  .advices .card {
    grid-column: 2;
  }

  .gallery {
    gap: var(--gap-medium);
  }

  .gallery__images {
    display: grid;
    gap: var(--gap-medium);
    min-block-size: 780px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
  }

  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .item3 {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .item4 {
    grid-column: 2;
    grid-row: 2;
  }

  .item5 {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    padding-inline: var(--padding-medium);
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }

  .impact .section__title {
    grid-column: 1;
  }

  .impact .card {
    grid-column: auto;
    grid-row: 2;
  }

  .gallery__images {
    display: grid;
    gap: var(--gap-medium);
    min-block-size: 780px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 433px;
  }

  .reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons .card {
    grid-column: 2 / span 2;
  }

  .advices {
    grid-template-columns: repeat(3, 1fr);
  }

  .advices .title-decor {
    grid-column: 2 / span 2;
  }

  .advices .card {
    grid-column: 2 / span 2;
  }
}
