/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);

  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --text-color: #f1b2ce;
  --transparent-text-color: rgba(255, 0, 112, 0.4);
  --title-text-color: #000028;
  --bg-color: #000028;
  --decorated-text: var(--accent-color);

  --main-font: "IBM Plex mono", "Monospace", sans-serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --gap-small: 10px;
  --gap-medium: 20px;

  --padding-small: 10px;
  --padding-medium: 20px;
}
